*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.school-logo{
  background-color:white;
  text-align: center;
  padding: 15px;
 
}
.school-logo h1{
  color: #1e075e;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}
.school-logo P{
  color: rgb(218, 161, 17);
  text-align: center;
  padding:10px
}

nav{
 height:50px;
 width: 100%;
 background-color: #1c025a;
 justify-content: center;

}
nav ul{
  display: flex;
  float: right;
  

}

nav li{
list-style: none;
margin-right: 10px;
padding-right: 10px;
border-right: 3px solid gray;
}
nav li:last-child {
  border-right: none; 
}

nav a{
  text-decoration:none;
  color: blanchedalmond;

}

header img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header-textoverlay{
  position: absolute;
  top:650px;
  left:600px;
  transform: translate(-50%, -50%);
}
header h1, P{
  color: white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
  text-align: center;
}
.overlay-button{
  margin-top: 25px;
  padding: 15px;
  font-weight: bold;
  background-color:none;
  border-radius: 5px;
  border: 2px solid rgb(228, 165, 8) ;
  cursor:pointer;
}
.overlay-button:hover{
  background-color:rgb(228, 165, 8);
  transition: 0.9s ease-in-out;
  
}

footer{
  height:70px;
  width: 100%;
  background-color: #1c025a;
  
}
.footer-link{
  justify-content: center;
  display: flex;
 
}
footer ul{
  display: flex;

}

footer li{
  list-style: none;
  margin-left:3px;
  padding-left: 3px;
  border-left: 3px solid chocolate;

}
footer li:first-child{
  border-left: none;
}
footer a{
  text-decoration: none;
  color: bisque;
  font-size: small;
 
}
/* .social-link{
 
  
} */

/* 
BEYOUN THE CLASSROOM PAGE */

.btc{
  background-color: rgb(64, 74, 170);
}
.btc h1{
text-align: center;
color: rgb(80, 6, 6);
padding: 10px;
}
.btc{
  width: 100%;
  height: 100%;
  object-fit: cover; 
}